<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img alt="" class="d-inline-block align-text-center brand-image" height="45"
           src="assets/icons/brand.png"
           width="45">
      <span class="fw-bolder text-dark">Web</span>Developer</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#experiments">Experiments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <div class="form-check form-switch padding-check">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label fw-bold text-check"
                 for="flexSwitchCheckDefault">Dark Mode</label>
        </div>
      </ul>
    </div>
  </div>
</nav>
