<div id="services" class="services section-bg">
  <div class="container my-5" data-aos="fade-up">
    <div class="section-title">
      <h2 class="fw-bold text-uppercase text-center" >Services</h2>

    </div>

    <div class="row py-5">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div
            class="icon d-flex align-items-center justify-content-center fa-2x"><i
            class="fas fa-code"></i></div>
          <h4 class="text-center">Website Development</h4>
          <p class="text-left">The web development process involves taking the graphical elements defined in the design process and coding them into a custom Wordpress theme.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon d-flex align-items-center justify-content-center fa-2x"><i class="fas fa-paint-brush"></i></div>
          <h4 class="text-center">Responsive Website Design</h4>
          <p>Having a responsive layout means that your website fluidly resizes for optimal viewing regardless of the screen size or device (e.g. iPhone, iPad).</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon d-flex align-items-center justify-content-center fa-2x"><i class="fas fa-chart-line"></i></div>
          <h4 class="text-center">SEO (Search Engine Optimisation)</h4>
          <p>SEO is the practice of improving and promoting a website in order to increase the number of visitors it receives.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon d-flex align-items-center justify-content-center fa-2x"><i class="fas fa-camera-retro"></i></div>
          <h4 class="text-center">Photography</h4>
          <p>Nicholas Grundy is available to travel to any location for your desired photo shoot. All types of photography can be created for your website.</p>
        </div>
      </div>

    </div>

  </div>
</div><!-- End Services Section -->
